<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="javascript/index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="login_div">
      <form id="login_form" action="/">
        <input type="text" id="username_field" placeholder="Username"/>
        <input type="password" id="password_field" placeholder="Password"/>
        <input  type="submit" value="Login" />
      </form>
    </div>
    <div id="reg_div">
      <form id="reg_form" action="/">
        <input type="text" id="username_field" placeholder="Username"/>
        <input type="password" id="password_field" placeholder="Password"/>
        <input type="password" id="password_field2" placeholder="Repeat Password"/>
        <input  type="submit" value="Register" />
      </form>
    </div>
  </body>
<html>
