#field{
  position: relative;
  border: 0px;
  background-image: url("/images/chess16.bmp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  height: 800px;
}
img:focus{
 outline-style: none;
}
#field img{
 border: 0px;
 position: relative
 width: 100px;
 height: 100px;
 display: inline-block;
 content: url("/images/whitepawn2.png");
 background-color: transparent;
}
